.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."; 
}

.Bedroom-1 {
grid-column-start: 1;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;

}

.Bedroom-2 {
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 1;
grid-row-end: 2;

}

.Half-bath {
grid-column-start: 6;
grid-column-end: 7;
grid-row-start: 1;
grid-row-end: 2;
}

.Bedroom-3 {
grid-column-start: 5;
grid-column-end: 7;
grid-row-start: 2;
grid-row-end: 4;
}

.LivingRoom {
grid-column-start: 2;
grid-column-end: 5;
grid-row-start: 2;
grid-row-end: 4;

}

.Full-bath {
grid-column-start:1 ;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 4;
}

div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
